@font-face {
  font-family: "space-font";
  src: url("./src/fonts/Chopsic-K6Dp.ttf");
}

*{
  margin:0;
  padding:0;
}
body {
  cursor: none;
}

#aim{
  position: absolute;
  top:50%;
  left:50%;
  width:20px;
  height:20px;
  transform: translate(-50%,-50%);
  pointer-events: none;
  
}

#main{display: none;}

.menu{
  width:100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item{
  color:azure;
  font-family:space-font;
  font-size: 5rem;
  transition: all 1s ease;
}

.menu-item:hover{
  color: cadetblue;
}